
a:hover {
    color: green;
}

iframe.video {
    width: 640px;
    height: 430px;

}

body, main {
    display: flex;
}

body {
    flex-direction: column;


}

main {
    flex: auto;
    flex-direction: row-reverse;


}

article {
    flex: 3;
    text-align: center;
}

aside {
    flex: 1;
    background:linear-gradient(180deg, #444c3e, #c3715b);
    position: relative;
    border-right: 1px solid rgba(72,219,251,0.5);
}

.web80 ul {
    list-style: none;
    position: relative;
    z-index:2;
}

.web80 ul li {
    float: left;
    width: 150px;
    height: 50px;
    margin-right: 1px;

}

.web80 ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: normal;
    text-transform: uppercase;
}

.web80 ul li ul li {
    display: none;
    width: 160px;
    height: 40px;
    float: initial;
    background: #5c5343;
    font-size: 20px;
}

.web80 ul li:hover ul li {
    display: block;
    border-top: 1px solid rgba(72,219,251,0.5);
}
.web90 ul {
    list-style: none;
    position: relative;
    z-index: 1;
}

.web90 ul li {
    float: left;
    width: 150px;
    height: 50px;
    margin-right: 1px;

}

.web90 ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: normal;
    text-transform: uppercase;
}

.web90 ul li ul li {
    display: none;
    width: 160px;
    height: 40px;
    float: initial;
    background: #625545;
    font-size: 20px;
    transition: 0.3s;
}

.web90 ul li:hover ul li {
    display: block;
    border-top: 1px solid rgba(72,219,251,0.5);
}
.web00 ul {
    list-style: none;
    position: relative;
}

.web00 ul li {
    float: left;
    width: 150px;
    height: 50px;
}

.web00 ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: normal;
    text-transform: uppercase;
}

.web00 ul li ul li {
    display: none;
    width: 160px;
    height: 40px;
    float: initial;
    background: #695746;
    font-size: 20px;
    transition: 0.3s;
}

.web00 ul li:hover ul li {
    display: block;
    border-top: 1px solid rgba(72,219,251,0.5);
}

main {
    background-image: linear-gradient(180deg, #444c3e, #c3715b);
}

div.banner {
    display: inline-block;
    position: sticky;
    top: 10px;
}

div.bannerWord {
    position: absolute;
    bottom: 30px;
    color: #444c3e;
    opacity: 1;
    text-align: center;
    display: block;
    width: 100%;
}

footer {
    display: flex;
    align-self: center;
}

img.banner {
    align-self: center;
    width: 2048px;
    height: 100px;
}

div.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

div.images2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

}

audio {
    display: none;
}

.lyric {

    font-weight: bold;
    text-align: start;
}
.next{
    font-size:25px;
    font-weight: lighter;
}
